@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 190 88% 33%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 352 124% 41%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 63%;
    --radius: 0.625rem;
    --chart-1: 212 102% 79%;
    --chart-2: 217 91% 60%;
    --chart-3: 221 86% 54%;
    --chart-4: 224 79% 48%;
    --chart-5: 227 70% 40%;
  }

  .dark:root {
    --background: 0 0% 3.5%;
    --foreground: 0 0% 98%;
    --card: 0 0% 9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 191 72% 55%;
    --primary-foreground: 227 47% 19%;
    --secondary: 0 0% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 63%;
    --accent: 206 28% 17%;
    --accent-foreground: 0 0% 98%;
    --destructive: 359 102% 70%;
    --border: 0 0% 16%;
    --input: 0 0% 20%;
    --ring: 0 0% 45%;
    --chart-1: 212 102% 79%;
    --chart-2: 217 91% 60%;
    --chart-3: 221 86% 54%;
    --chart-4: 224 79% 48%;
    --chart-5: 227 70% 40%;
  }
}
